{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <div class="login">
    </div>
    <div class="sidebar">
        
        <div id="username">{{user.username}}</div>
        <div id="userid">{{user.email}}</div>

        <form action="{{ url_for('search') }}" method="post">


            <div class="form-group">
                <input class="form-control" name="isbn_number" placeholder="ISBN Number">
            </div>
    
            <div class="form-group">
                <input class="form-control" name="title" placeholder="Title">
            </div>
    
            <div class="form-group">
                <input class="form-control" name="author" placeholder="author">
            </div>
            
            <button class="button button3">Search</button>
        </form>
        <a href="/logout"><button class="button button2">Logout</button></a>

        
        


    </div>

        <div class="book">            
            <h2>Book Reviews</h2>
            <ul>
                {% for review in reviews%}
                    <li>Rating of the Book  :{{ review.rate }}</li>
                    <li>Review of the book  :{{ review.review }}</li>

                {% else %}
                    <li>No Reviews.</li>
                {% endfor %}
            </ul>
            
    </div>
    <div class="back"><a href="{{ url_for('book', isbn_no=book.isbn_no) }}"><button class="button button5">Back</button></a></div>


{% endblock %}
